<%- include('layouts/header'); -%>

<body>
  <div class="row main">
    <div class="col col-lg-3 sidebar">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Chat App</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Dashboard
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="<%= `http://localhost:3000/${user.image}` %>" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong><%= user.name %></strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/users/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main__content col col-lg-3">
      <h2>All Users</h2>
      <div class="row">
        <% for (let i = 0; i < users.length; i++) { %>
        <% if (users[i]._id.toString() !== user._id.toString()) { %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" data-id="<%= users[i]._id %>">
            <% if (users[i].is_online) { %>
            <!-- If user is online, use green badge -->
            <span id="<%= users[i]._id %>_status" class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
              <span class="visually-hidden">Online</span>
            </span>
            <% } else { %>
            <!-- If user is offline, use red badge -->
            <span id="<%= users[i]._id %>_status" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">Offline</span>
            </span>
            <% } %>
            <img width="50px" src="<%= `http://localhost:3000/${users[i].image}` %>" class="card-img-top" alt="User Avatar">
            <div class="card-body">
              <h5 class="card-title <%= users[i]._id %>_name"><%= users[i].name %></h5>
              <p class="card-text"><%= users[i].email %></p>
              <!-- Additional user info or actions can go here -->
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
    </div>
    <div class="chat-section col col-lg-6">
      <div class="chat">
        <div class="chat-container">
          <div class="user-bar">
            <div class="back">
              <i class="zmdi zmdi-arrow-left"></i>
            </div>
            <div class="avatar">
              <img src="" alt="Avatar">
            </div>
            <div class="name">
              <span class="receiver_name">Zeno Rocha</span>
              <span class="current_status">online</span>
            </div>
          </div>
          <div class="conversation">
            <div class="conversation-container">
            </div>
            <form class="conversation-compose">
              <input class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus></input>
              <div class="photo">
                <i class="zmdi zmdi-camera"></i>
              </div>
              <button class="send">
                <div class="circle">
                  <i class="zmdi zmdi-mail-send"></i>
                </div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('layouts/footer'); -%>